@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.toggle-button {
  &__circle-on {
    @include toggleCircle;
    background-color: $green;
    transform: translateX(30px);
  }

  &__circle-of {
    @include toggleCircle;
    transform: translateX(0px);
    background-color: $deactive-gray;
  }

  &__active {
    @include toggleField;
    background-color: rgba(22, 135, 54, 0.5);
  }

  &__deactive {
    @include toggleField;
    background-color: rgba(116, 116, 128, 0.5);
  }
}
