@mixin setBorder {
  border-top: 0px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

@mixin headerPart {
  height: 45px;
  background-color: white;
  display: flex;
  align-items: center;
  @include setBorder;
  padding: 5px;
}

@mixin positonAbsolute($position, $top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: $position;
  top: $top + px;
  right: $right + px;
  bottom: $bottom + px;
  left: $left + px;
}

@mixin toggleField {
  width: 60px;
  height: 30px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 70px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

@mixin toggleCircle {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 70px;
  box-sizing: border-box;
  transition: 0.3s;
}
