$white-1: #ffffff;
$white-2: #ededed;
$white-3: #fafbfc;
$white-4: #edeff2;
$white-5: #f3f4f6;

$black: #000000;
$red: #f44336;
$green: #168736;
$deactive-gray: #747480;
$light-gray: #959da5;
$light-gray-1: #24292e;
