@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.table {
  height: 275px;
  overflow: scroll;

  &__id {
    text-align: center;
  }

  &__status {
    width: 100px;
  }
}

.blank-space {
  width: 20px;
}

th {
  @include setBorder;
  height: 20px;
  padding: 8px 12px;
  text-align: start;
}

table tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.04);
}

tr:hover {
  background-color: $white-2;
}

td {
  padding: 8px 12px;
  height: 32px;
  vertical-align: middle;
  @include setBorder;
}
