<section class="table">
  <table>
    <thead>
      <tr>
        <th
          *ngFor="let header of tableDataHeaders"
          [ngClass]="header === '' ? 'blank-space' : ''"
        >
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData; trackBy: trackByUserId">
        <td class="id">{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td class="status">
          <app-toggle-button
            [data]="data.active"
            (toggleValue)="toggleValue($event, data.id)"
          ></app-toggle-button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
